@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* -color-text-inverted: 255, 35, 43; */
    --color-text-base: 0, 0, 0;
    --color-text-muted: 34, 35, 43;
    --color-text-inverted: 176, 176, 176;
    --color-fill: 187, 187, 187;
    --color-fill-extreme: 255, 255, 255;
    --color-button-accent: 0, 0, 0;
    --color-button-accent-hover: 76, 79, 91;
    --color-button-muted: 195, 195, 195;
    --color-border-base: 0, 0, 0;
  }

  .dark {
    --color-text-base: 255, 255, 255; /* White text */
    --color-text-muted: 200, 200, 200; /* Light gray text */
    --color-text-inverted: 0, 0, 0; /* Black text */
    --color-fill: 34, 34, 34; /* A dark background color */
    --color-fill-extreme: 0, 0, 0; /* An even darker background color */
    --color-button-accent: 255, 255, 255; /* White button text */
    --color-button-accent-hover: 200, 200, 200; /* Light gray button text on hover */
    --color-button-muted: 100, 100, 100; /* A slightly darker gray for muted buttons */
    --color-border-base: 255, 255, 255; /* White borders */
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
.mask {
  /* overflow: hidden; */
  -webkit-mask: linear-gradient(
    180deg,
    /* transparent, */ white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(
    180deg,
    /* transparent, */ white 20%,
    white 80%,
    transparent
  );
}

.position-unset {
  position: unset;
  /* right: unset; */
}

/* .custom-gradient {
  background: linear-gradient(
    to right,
    transparent,
    rgb(var(--color-fill)),
    transparent
  );
} */
